<div class="last_banner">
<div class="container">


  <div class="text">
    <h4>
      How we have helped
    </h4>
    <p>
      See how Al Foundation have promoted change locally and to the world 
    </p>
  </div>
<ul class="list-unstyled">
  <li class="diamond">
  
    <div class="inner-diamond">
      <img src="../../../assets/images/5.png" alt="">
     <p style="right: -70px;
     top: 24px;">
       Find place
     </p>
     <fa-icon [icon]="['fas', 'plus']" size="" (click)="openurl('https://www.instagram.com')"></fa-icon>
    </div>
 
  </li>
  <li class="diamond">
  
    <div class="inner-diamond">
      <img src="../../../assets/images/6.png" style="right: -63px;top: 8px;" alt="">
     <p style="top: 51px;right: -57px;">
      A’awen
     </p>
     <fa-icon [icon]="['fas', 'plus']" style="top: 69px;" (click)="openurl('https://www.instagram.com')"></fa-icon>
    </div>
 
  </li>
  <li class="diamond">
  
    <div class="inner-diamond">
      <img src="../../../assets/images/2.png" alt="">
     <p style="right: -45px;">
      Omniyat
     </p>
     <fa-icon [icon]="['fas', 'plus']" style="top: 33px;
     right: -21px;" (click)="openurl('https://www.instagram.com')"></fa-icon>
    </div>
 
  </li>
  <li class="diamond">
  
    <div class="inner-diamond">
      <img src="../../../assets/images/7.png" alt="">
     <p style="top: 27px;
     right: -58px;">
      Give Time
     </p>
     <fa-icon [icon]="['fas', 'plus']" size="" (click)="openurl('https://www.instagram.com')"></fa-icon>
    </div>
 
  </li>
</ul>

<ul class="list-unstyled list_two">
  <li class="diamond">
  
    <div class="inner-diamond">
      <img src="../../../assets/images/1.png" alt="">
     <p>
      Tofoula
     </p>
     <fa-icon [icon]="['fas', 'plus']" style="right: -57px;
     top: 30px;" (click)="openurl('https://www.instagram.com')"></fa-icon>
    </div>
 
  </li>
  <li class="diamond">
  
    <div class="inner-diamond">
      <img src="../../../assets/images/4.png" alt="">
     <p style="top: 30px;">
      Fundraising
     </p>
     <fa-icon [icon]="['fas', 'plus']" style="right: -57px;
     top: 45px;" (click)="openurl('https://www.instagram.com')"></fa-icon>
    </div>
 
  </li>

  <li class="diamond">
  
    <div class="inner-diamond">
      <img src="../../../assets/images/3.png" alt="">
     <p>
      Zakat
     </p>
     <fa-icon [icon]="['fas', 'plus']" style="right: -49px;
     top: 34px;" (click)="openurl('https://www.instagram.com')"></fa-icon>
          

    </div>
 
  </li>
</ul>
 
</div>
</div>